.red {
    background-color: #db2828;
}
.orange {
    background-color: #f2711c;
}
.yellow {
    background-color: #fbbd08;
}
.olive {
    background-color: #b5cc18;
}
.green {
    background-color: #21ba45;
}
.teal {
    background-color: #00b5ad;
}
.blue {
    background-color: #2185d0;
}
.violet {
    background-color: #6435c9;
}
.purple {
    background-color: #a333c8;
}
.pink {
    background-color: #e03997;
}
.brown {
    background-color: #a5673f;
}
.grey {
    background-color: #767676;
}
.black {
    background-color: #1b1c1d;
}
.white {
    background-color: #FFFFFF;
}
